{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["sort-destructure-keys", "simple-import-sort"],
  "env": { "browser": true },
  "rules": {
    "sort-destructure-keys/sort-destructure-keys": "warn",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/order": "off",
    "react/jsx-sort-props": "warn",
    "react/react-in-jsx-scope": "off"
  }
}
