body {
  background-color: rgb(40, 40, 40);
  color: #969c9f;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  padding: 0 50px;
}
